
.red-box{
    width: 20%;
    height: 100px;
    float: left;
    margin-right: 10px;
   background-color: red; 
}
.green-box{
    width: 20%;
    height: 100px;
    float: left;
    margin-right: 10px;
   background-color:green;
}
.blue-box{
    width: 20%;
    height: 100px;
    float: left;
    margin-right: 10px;
   background-color:blue;
}